:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --primary: #2563eb;       /* primary-color */
  --bg-body: #f1f5f9;       /* Abu-abu terang background */
  --bg-sidebar: #ffffff;    /* Putih */
  --text-main: #0f172a;     /* Hitam gelap */
  --text-muted: #64748b;    /* Abu-abu text */
  --border: #e2e8f0;        /* Garis border */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--bg-body);
  color: var(--text-main);
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: inherit;
}