.sidebar {
  width: var(--sidebar-width);
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 2rem; /* Padding container sidebar */
  overflow: hidden;
  background-color: var(--neutral); /* Pakai warna background abu-abu user */
  border-right: 1px solid #eee;
  position: fixed;
  left: 2rem; /* Beri jarak 20px dari kiri dinding */
  top: 2rem; /* Beri jarak 20px dari atas */
  height: calc(100vh - 4rem);
  border-radius: 1.8rem;
  z-index: 50;
}

.logo {
  color: var(--color-secondary);
  font-size: var(--fs-xl);
  font-weight: var(--fw-bold);
  margin-bottom: 5rem;
  margin-top: 1rem;
}

.label {
  margin-bottom: 2rem;
  font-size: var(--fs-xs);
  font-weight: var(--fw-light);
  opacity: 0.7;
  letter-spacing: 1px;
}

.nav {
  display: flex;
  flex-grow: 1;
}

.menu {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

/* Base Link Style */
.link {
  display: flex;
  align-items: center;
  font-weight: var(--fw-regular);
  font-size: var(--fs-sm);
  cursor: pointer;
  transition: all 0.2s ease;
  padding: 10px 5px;
  border-radius: 8px;
  opacity: 0.7;
  text-decoration: none;
  color: var(--color-text-muted);
  gap: 1rem;
}

.icon {
  font-size: 2rem;
  font-weight: bold;
  color: var(--color-secondary);
  min-width: 3rem;
  font-weight: 900;
  text-align: center;
}

/* Hover Effect */
.link:hover {
  background-color: #e5e5e5;
  color: var(--accent-dark);
  opacity: 1;
}

/* === ACTIVE STATE (Sesuai Desain Anda) === */
.active {
  position: relative;
  font-size: var(--fs-md);
  font-weight: var(--fw-semibold);
  opacity: 1;
  background-color: transparent; /* Reset background */
  color: var(--color-text-main);
}

/* Garis Biru Slide-In */
.active::before {
  content: "";
  position: absolute;
  left: -2rem; /* Geser ke kiri luar padding */
  top: 50%;
  transform: translateY(-50%);
  width: 8px;
  height: 100%;
  background-color: var(--color-secondary);
  border-radius: 0 6px 6px 0;
  animation: slideIn 0.3s ease forwards;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(-50%) scaleY(0);
  }
  to {
    opacity: 1;
    transform: translateY(-50%) scaleY(1);
  }
}

/* Logout Button di bawah */
.logoutItem {
  margin-top: auto;
  border-top: solid 3px #cecece;
  padding-top: 1.2rem;
}